<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <strong class="navbar-brand">{{ title }} {{description}}</strong>
    </div>
  </div>
</nav>
<h2><timer></timer></h2>
