<div class="text-center">
  <span class="timer">
      <img src="assets/img/timer.png" alt="Timer">
  </span>
  <h1> {{ minutes }}:{{ seconds | number:'2.0' }}</h1>
  <p>
    <button class="btn btn-danger" (click)="togglePause()">{{ buttonLabel }}</button>
  </p>
</div>
